/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Segoe UI', sans-serif;
  background: #f4f6f9;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
}